@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #000;
}

.button {
  padding: 0;
  border: none;
  background-color: #FFF;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}
