.navigation {
  padding-bottom: 30px;
  width: 308px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation__element {
  width: 96px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  border-radius: 10px;
}

.navigation__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}

@media screen and (max-width: 360px) {

  .navigation {
    padding-bottom: 17px;
    width: 258px;
  }

  .navigation__element {
    width: 82px;
    height: 26px;
    border-radius: 6px;
  }

  .navigation__link {
    font-size: 10px;
    line-height: 16px;
  }

}
